:root {
  --border: rgb(212, 211, 211);
  --blue: #0e68ce;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  height: 4rem;
  z-index: 1000;
  background: white;
  width: 100%;
}
.navbar-logo,
.navbar-search,
.navbar-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-search {
  background-color: rgb(248, 245, 245);
  padding-left: 60px;
  padding-right: 60px;
  border: 1px solid rgb(212, 211, 211);
}
/* ::-webkit-input-placeholder {
  text-align: center;
} */

.navbar-search input {
  background-color: transparent;
  outline: 0;
  border: none;
  width: 50px;
}
.navbar-icons {
  justify-content: space-between;
}
.navbar-icon {
  margin-left: 10px !important;
  font-size: 30px !important;
}
.nav-dropdown {
  display: flex;
  flex-direction: column;
}
.my-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.my-profile p {
  margin-left: 10px;
}
.nav-dropdown div {
  padding: 10px;
  cursor: pointer;
}
.avatar-not-shown {
  display: none !important;
}

.nav-dropdown div:nth-child(2) {
  margin-top: -12px;
}
.nav-dropdown div:hover {
  background-color: rgb(235, 235, 235);
}
.post-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.container {
  display: flex;
}
.post-side {
  position: sticky;
  top: 1rem;
  flex: 0.3;
}
.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--border);
  margin-top: 1rem;
  width: 600px;
}
.post-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.post-container-header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-container-header-left p {
  margin-left: 10px;
}
.post-container-reaction {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.post-container-reaction-left,
.post-container-reaction-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reaction-icon-div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.reaction-icon-div-p {
  color: gray;
  margin-left: 5px;
}
.reaction-icon {
  margin-right: 10px !important;
  font-size: 30px !important;
}
.reaction-icon-right {
  font-size: 30px !important;
}
.post-container-comment {
  padding: 10px;
}
.post-container-comment span {
  color: gray;
}
.post-container-comment-container {
  display: flex;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.post-container-comment-username {
  font-weight: bolder;
}
.post-container-comment-comment {
  padding-left: 10px;
}
.post-container-caption {
  padding: 10px;
}
.post-container-input {
  border-top: 1px solid var(--border);
  padding: 10px;
}
.post-container-input input {
  outline: 0;
  border: none;
  background: transparent;
}
.post-container-input-submit {
  display: none;
}

.login-container,
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  /* background-color: rgb(190, 186, 186); */
}
.login-image {
  margin-left: -100px;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
  z-index: 1000;
}
.login-forms,
.signup-input {
  background-color: white;
  padding: 3rem;
  width: 350px;
  border: 1px solid var(--border);
}
.form {
  display: flex;
  flex-direction: column;
}
.form input:not([type="file"]) {
  padding: 10px;
  background-color: rgb(250, 248, 248);
  border: 1px solid var(--border);
  outline-width: 0;
  margin-bottom: 0.5rem;
}
.form input[type="file"] {
  padding: 10px;
}
.form button {
  display: block;
  background-color: var(--blue);
  border-radius: 5px;
  margin-top: 0.5rem;
  cursor: pointer;
  color: white;
  border: none;
  outline-width: 0;
  outline: 0;
  padding: 0.5rem;
}
.signup-container {
  flex-direction: column;
}
.login-signup,
.signup-login {
  border: 1px solid var(--border);
  background-color: white;
  width: 350px;
  padding: 0.5rem;
  margin-top: 1rem;
}
.signup-login a {
  color: var(--blue);
}
.login-signup a {
  color: var(--blue);
}
.signup-title {
  color: gray;
  font-weight: bold;
  margin-top: -1rem;
  z-index: 1000;
  padding-bottom: 1rem;
}
.signup-container {
  background-color: rgb(252, 249, 249);
}
.sign-up-image {
  padding-left: 3rem;
}
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.username-span {
  font-weight: bold;
}
.post-id-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.post-id-container-wrapper {
  width: 700px;
}
.post-id-container-wrapper img {
  width: 700px;
}
.delete-span {
  cursor: pointer;
}
.profile-container {
  background-color: rgb(245, 245, 245);
  min-height: 700px;
}
.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  max-width: 900px;
}
.profile-avatar {
  width: 150px !important;
  height: 150px !important;
}
.profile-stats {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 3rem;
}
.profile-stats-section span {
  font-weight: bolder;
}
.profile-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-name p {
  font-size: 2rem;
}
.profile-name-button {
  margin-left: 1rem;
  padding: 10px;
  outline: 0;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 5px;
}
.profile-name-button:hover {
  background-color: rgb(218, 216, 216);
}
.profile-name-icon {
  margin-left: 1rem;
}
.profile-bio {
  display: flex;
  flex-direction: column;
}
.profile-activity {
  max-width: 900px;
  margin-left: 15%;
}
.post-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-title-icon {
  margin-right: 3px;
}
.profile-posts {
  max-width: 930px;
  margin-left: 15%;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: -3rem; */
  padding: 0;
}
.post-hover-image {
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  cursor: pointer !important;
}
.profile-list-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 6rem;
}
.logged-in-user {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 2rem;
}
.logged-in-user-details {
  margin-left: 10px;
}
.all-other-users-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}
.all-other-users-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-other-users {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-other-user-details {
  margin-left: 10px;
}
.all-other-users-follow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.single-user-avatar {
  width: 70px !important;
  height: 70px !important;
}
.logged-in-user-details-span-one {
  font-weight: bold;
}
.logged-in-user-details-span-two {
  font-size: 0.8rem;
}
.all-other-user-container-title {
  color: gray;
  font-size: 0.9rem;
}
.all-other-users-follow-button {
  background: transparent;
  border-radius: 25px;
  border: none;
  color: rgb(79, 127, 199);
  cursor: pointer;
  outline: 0;
}

@media screen and (max-width: 1050px) {
  .post-hover {
    width: 190px !important;
    height: 200px !important;
  }
  .post-hover-image {
    width: 190px !important;
    height: 200px !important;
  }
  .login-form-container {
    flex-direction: column;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1000px) {
  .post-side {
    display: none;
  }
  .login-image {
    display: none !important;
  }
}
@media screen and (max-width: 800px) {
  .navbar-search {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .post-container {
    width: 380px !important;
  }
  .post-container-image {
    width: 380px !important;
  }
}
@media screen and (max-width: 600px) {
  body,
  html {
    overflow-x: hidden !important;
  }
  .profile-name p {
    font-size: 0.8rem;
  }
  .profile-avatar {
    width: 80px !important;
    height: 80px !important;
    margin-left: 1rem;
  }
  .post-hover {
    width: 130px !important;
    height: 140px !important;
  }
}
